@{
    ViewData["Title"] = "Página principal";
}

<h1>Bienvenido a RetailTrack</h1>
<p>Gestiona tus productos y movimientos aquí.</p>
<a href="@Url.Action("Index", "Product")" class="btn btn-primary">Productos</a>
<a href="@Url.Action("Index", "Design")" class="btn btn-primary">Diseños</a>
<a href="@Url.Action("Index", "Material")" class="btn btn-primary">Materiales</a>
<a href="@Url.Action("Index", "Receipt")" class="btn btn-primary">Facturas</a>
<a href="@Url.Action("Index","Settings")" class="btn btn-primary">Configuracion</a>

