@model RetailTrack.ViewModels.ProductCreateViewModel

<h2>Crear Producto</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Product.Name">Nombre</label>
        <input asp-for="Product.Name" name="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Description">Descripción</label>
        <textarea asp-for="Product.Description" name="Product.Description" class="form-control"></textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.ProductSizeId">Talle</label>
        <select asp-for="Product.ProductSizeId" name="Product.ProductSizeId" class="form-control" asp-items="Model.Sizes">
            <option value="">Seleccione un Talle</option>
            @foreach (var size in Model.Sizes)
            {
                <option value="@size.Value">@size.Text</option>
            }          
        </select>
        <span asp-validation-for="Product.ProductSizeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.QuantityRequested">Cantidad</label>
        <input asp-for="Product.QuantityRequested" name="Product.QuantityRequested" type="number" class="form-control" />
        <span asp-validation-for="Product.QuantityRequested" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.DesignId">Diseño</label>
        <select asp-for="Product.DesignId" name="Product.DesignId" class="form-control" asp-items="Model.Designs">
            <option value="">Seleccione un Diseño</option>
            @foreach (var desing in Model.Designs)
            {
                <option value="@desing.Value">@desing.Text</option>
            }        
        </select>
        <span asp-validation-for="Product.DesignId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="MaterialTypeId">Tipo de Material</label>
        <select id="MaterialTypeId"  class="form-control" onchange="getMaterialsByType(this.value)">
            <option value="">Seleccione un tipo de material</option>
            @foreach (var materialType in Model.MaterialTypes)
            {
                <option value="@materialType.Value">@materialType.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="Materials">Materiales</label>
        <select id="Materials" name="Product.MaterialId" asp-for="Product.MaterialId" class="form-control">
            <option value="">Seleccione un material</option>
            @foreach (var material in Model.Materials)
            {
                <option value="@material.Value">@material.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
