@model RetailTrack.ViewModels.ProductDetailsViewModel

<h2>Detalles del Producto</h2>

<div>
    <table class="table">
        <tr>
            <th> Nombre </th>
            <th> @Model.Product.Name</th>
        </tr>
        <tr>
            <th> Descripci칩n </th>
            <th> @Model.Product.Description</th>
        </tr>
         <tr>
            <th> Talle </th>
            <th> @Model.Product.Size</th>
        </tr>           
         <tr>
            <th> Estado </th>
            <th> @Model.Product.Status</th>
        </tr>          
         <tr>
            <th> Cantidad </th>
            <th> @Model.Product.QuantityRequested</th>
        </tr>                       
         <tr>
            <th> Cantidad </th>
            <th> @Model.Product.QuantityRequested</th>
        </tr>                       
        <tr>
            <th>Dise침o</th>
        </tr>
            @if (Model.Design != null)
            {
                <tr>    
                    <th>@Model.Design.Name</th>
                    <th>@Model.Design.Description</th>
                    @if (!string.IsNullOrEmpty(Model.Design.ImageUrl))
                    {
                        <th>
                            <img src="@Url.Content($"~/{Model.Design.ImageUrl}")" alt="Dise침o" width="100" />
                        </th>
                    }
                </tr>
            }
            else
            {
                <tr>
                    <th>No hay dise침o asociado.</th>
                </tr>
            }        
        </tr>
    </table>

</div>

<a href="/Product/Index" class="btn btn-primary">Volver a la lista</a>