@model RetailTrack.ViewModels.ProductDetailsViewModel

<h2>Detalles del Producto</h2>

<div class="form-group">
    <label>Nombre:</label>
    <p>@Model.Name</p>
</div>

<div class="form-group">
    <label>Estado:</label>
    <p>@Model.Status</p>
</div>

<div class="form-group">
    <label>Descripción:</label>
    <p>@Model.Description</p>
</div>

<div class="form-group">
    <label>Cantidad:</label>
    <p>@Model.QuantityRequested</p>
</div>

<div class="form-group">
    <label>Talle:</label>
    <p>@Model.Size</p>
</div>

<div class="form-group">
    <label>Diseño:</label>
    <p>@Model.Design</p>
</div>

<div class="form-group">
    <label>Tipo Material:</label>
    <p>@Model.MaterialType</p>
</div>

<div class="form-group">
    <label>Material:</label>
    <p>@Model.Material</p>
</div>



<a href="@Url.Action("Index", "Product")" class="btn btn-primary">Volver</a>
