@model RetailTrack.ViewModels.ProductFilterViewModel

@section Scripts {
    <script src="~/js/Product/cleanProductSession.js"></script>
}

<h2>Lista de Productos</h2>

<!-- Filtros -->
<form asp-action="Index" method="get" class="mb-3">
    <div class="row mt-3">
        <!-- Primera fila: Nombre, Dise침o y Estado -->
        <div class="col-md-3">
            <label for="ProductName">Nombre del Producto</label>
            <input type="text" name="ProductName" class="form-control" value="@Model.ProductName" placeholder="Buscar por nombre">
        </div>
        <div class="col-md-3">
            <label for="DesignId">Dise침o</label>
            <select name="DesignId" class="form-control">
                <option value="">Todos</option>
                @foreach (var design in Model.Designs)
                {
                    <option value="@design.Value" selected="@(Model.SelectedDesignId.HasValue && Model.SelectedDesignId.ToString() == design.Value)">
                        @design.Text
                    </option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label for="StatusId">Estado</label>
            <select name="StatusId" class="form-control">
                <option value="">Todos</option>
                @foreach (var status in Model.Statuses)
                {
                    <option value="@status.Value" selected="@(Model.SelectedStatusId.HasValue && Model.SelectedStatusId.ToString() == status.Value)">
                        @status.Text
                    </option>
                }
            </select>
        </div>
    </div>

    <!-- Acciones: Filtrar y Limpiar, alineados a la derecha -->
    <div class="row mt-3">
        <div class="col text-end">
            <button type="submit" class="btn btn-primary">Filtrar</button>
            <a href="@Url.Action("Index")" class="btn btn-secondary">Limpiar</a>
        </div>
    </div>
</form>

<!-- Bot칩n de Crear Nuevo Producto -->
<div class="mb-3 text-start">   
    <button id="newProductButton" class="btn btn-success btn-block">Ingresar producto</button>
</div>

<!-- Tabla de Productos -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dise침o</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.DesignName</td>
                <td>@product.Status</td>
                <td>
                    <button  id="editProductButton" href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-info btn-block" ><i class="bi bi-search"></i></button>
                    <button class="btn btn-info btn-block editProductButton" data-product-id="@product.Id"><i class="bi bi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
