@model RetailTrack.ViewModels.ReceiptIndexViewModel

<h2>Órdenes Ingresadas</h2>

<div class="mb-3">
    <form method="get">
        <div class="row mt-3">
            <div class="col-md-6">
                <a href="@Url.Action("Create", "Receipt")" class="btn btn-success btn-block">Nueva Orden de Compra</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="startDate">Fecha Desde:</label>
                <input type="date" id="startDate" name="startDate" class="form-control" value="@Model.StartDate?.ToString("yyyy-MM-dd")" />
            </div>
            <div class="col-md-6">
                <label for="endDate">Fecha Hasta:</label>
                <input type="date" id="endDate" name="endDate" class="form-control" value="@Model.EndDate?.ToString("yyyy-MM-dd")" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <label for="paymentMethod">Método de Pago:</label>
                <select id="paymentMethod" name="paymentMethodId" class="form-control" asp-items="Model.PaymentMethods">
                    <option value="">Todos</option>
                    @foreach (var payment in Model.PaymentMethods)
                    {
                        <option value="@payment.Value">@payment.Text</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
            </div>
        </div>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Detalles</th>
            <th>Método de Pago</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Model.Receipts)
        {
            <tr>
                <td>@receipt.ReceiptDate.ToShortDateString()</td>
                <td>
                    <ul>
                        @foreach (var detail in receipt.Details)
                        {
                            <li>
                                Material: @detail.MaterialName,
                                Talle: @detail.SizeName,
                                Cantidad: @detail.Quantity,
                                Costo: $@detail.UnitCost.ToString("F2"),
                                Total: $@(detail.Quantity * detail.UnitCost).ToString("F2")
                            </li>
                        }
                    </ul>
                </td>
                <td>@receipt.PaymentMethods</td>
            </tr>
        }
    </tbody>
</table>
